<div class="container">

  <div class="row">

    <div class="col-xs-12 col-sm-10">
=================================================
<h1>ngif practise</h1>
<div>
  <h4>NgIf</h4>
  <div *ngIf="b" >Congratulations</div>
  <div *ngIf="!b" >TryNexTime</div>
  </div>
  ===================================================
  <h1>####################starting</h1>
  <div>
    <h4>NgIf and else</h4>
    <div *ngIf="b;then template1;else template2"></div>
    <ng-template #template1>
    <div style="background-color:green">Congratulations</div>
    <h1>Fieldset and Legend</h1>
		<form action="http://localhost/someaddress">

			<fieldset>
				<legend>Login</legend>
				Username: <input type="text"><br>
				Password: <input type="password"><br>
				<input type="submit" value="Submit">
			</fieldset>

		</form>
    </ng-template>
    
    <ng-template #template2> 
    <div style="background-color:green">TryNexTime</div>
    </ng-template>
  
    </div>
    <h1>####################ending</h1>
========================================================
    <h1>StylesExamples starting</h1>
<h1>ng if ending</h1>
      <div class="form-group">
        <div [style.color]="mycolor">Samplediv</div>
        <div [ngClass]="mycolor1">Samplediv1</div>
        <div [ngClass]="mycolor2">samplediv3</div>
         <h1>StylesExamplesEnding</h1>
=================================================ngswitch example


<div>
  <h4>NGSwitch Example</h4>
  
  <select [(ngModel)]="country">
  <option></option>
  <option>India</option>
  <option>UK</option>
  <option>US</option>
  </select>
  <div [ngSwitch]="country">
  <p *ngSwitchCase="'India'">India Details Here</p>
  <p *ngSwitchCase="'UK'">UK Details Here</p>
  <p *ngSwitchCase="'US'">US Details Here</p>
  <p *ngSwitchDefault>Please select any country</p>
  </div>
  </div>
===================================================ngswitch ending

===========================NGFORSTARTING============


<div>
  <ul>
  
  <li *ngFor="let city of Cities">{{city}}</li>
  </ul>
  </div>





=========================NGFORENDING========
        <!--  <tag (event)=”method( )”> </tag> -->
          <form (ngSubmit)="onSubmit(f)" #f="ngForm">


              <label for="username"> UserName</label>
              <input type="text" name="username" class="form-control" ngModel>


              <br>

              <label for="email">Email</label>
              <input type="text" name="email" class="form-control" ngModel>
              <br>
              <label for="secret">Secret Question</label>
              <select name="secret" id="secret" class="form-control" ngModel>
                <option value="pet"> Your First Pet</option>
                <option value="teacher"> Your First Teacher</option>
                <option value="hero"> Your First Hero</option>
                <option value="school"> Your First School</option>
              </select>
              <label for="answer">Big Textbox</label>
              <textarea name="answer" id="answer"  rows="3" ngModel class="form-control"></textarea>

              <br>

              Gender: 
              <div *ngFor="let gender of genders">

               <label>

                  <input type="radio" name="gender" ngModel [value]="gender"> {{gender}}
                </label>


              </div>


              <br>
              <button class="btn btn-primary" type="submit" >Submit</button>

          </form>

      </div>

    </div>
  </div>


</div>